<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>WILDLENS</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='wildaware-high-resolution-color-logo-crop.png') }}" alt="WildAware Logo" style="max-width: 100%; height: auto;">
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>